/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
svg {
    max-width: 100%;
    display: block;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

@media (prefers-reduced-motion: no-preference) {
    html {
        interpolate-size: allow-keywords;
    }
}

a,
button,
input,
select {
    all: unset;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

/* Utility Styling */
.invert {
    filter: invert(1);
}

a,
select {
    cursor: pointer;
}

/* General Styling */
/* #DOUBT: Why cant i have spaces in folder locations */

@font-face {
    font-family: "Netflix Sans";
    src: url("assets/fonts/NetflixSans/NetflixSansMedium.otf");
    font-weight: 600;
}

@font-face {
    font-family: "Netflix Sans";
    src: url("assets/fonts/NetflixSans/NetflixSansLight.otf");
    font-weight: 400;
}

@font-face {
    font-family: "Netflix Sans";
    src: url("assets/fonts/NetflixSans/NetflixSansBold.otf");
    font-weight: 900;
}

:root {
    --red-700: #C11119;
    --red-400: #E50815;

    --grey-700: #2D2D2D;
    --grey-hero: #B8B8B8;
    --grey-200: #414141;
    --grey-100: #ffffffb3;

    --blue-400: #448ef4;

    --ff-netflix-sans: "Netflix Sans";
}