<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="common.css">
    <link rel="stylesheet" href="signup.css">
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><img class="logo" src="assets/svgs/logo.svg" alt="logo"></li>
                <li><button class="buttonBase">sign in</button></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="hero">
            <img src="assets/images/computers.png" alt="computers-img">
            <div class="heroContent">
                <div>
                    <p>Step <b>1</b> of <b>3</b></p>
                    <h1>Finish setting up your account</h1>
                </div>
                <p>We will send a OTP to <strong>
                        <%= email %>
                    </strong> for email verification.
                </p>
            </div>
            <button class="buttonBase">
                <div class="loader"></div>
                <span>send OTP</span>
            </button>
        </div>
    </main>
    <footer>
        <div class="footerContent">
            <p>Questions? Call <a class="telephone" href="tel:000-800-919-1743">000-800-919-1743 (Toll-Free)</a></p>
            <ul class="moreLinks">
                <li><a href="">FAQ</a></li>
                <li><a href="">Help Center</a></li>
                <li><a href="">Terms of Use</a></li>
                <li><a href="">Privacy</a></li>
                <li><a href="">Cookie Preferences</a></li>
                <li><a href="">Corporate Information</a></li>
            </ul>
            <div class="langSelectBase">
                <span class="langIcon"><img src="assets/svgs/langIcon.svg" alt="langIcon"></span>
                <select name="lang">
                    <option value="1">English</option>
                    <option value="2">हिन्दी</option>
                </select>
                <span class="dropDownArrow"><img src="assets/svgs/arrowFilled.svg" alt="dropDownArrow"></span>
            </div>
        </div>
    </footer>
    <script>
        document.querySelector(".hero>.buttonBase").addEventListener("click", async (e) => {
            e.target.classList.toggle("loading")
            await fetch("/signup", {
                method: "POST",
            }).then((res) => {
                if (res.status === 200) {
                    setTimeout(() => {
                        window.location.href = res.url
                    }, 1000);
                }
            })
        })
    </script>
</body>

</html>